.inactive {
  color: setcolor('elements', 'warning-foreground');
  background-color: setcolor('elements', 'warning');
  border-radius: $border-radius-secondary;
  padding: 2px 8px 2px 8px;
  font-weight: 600;
}

.no-support {
  color: setcolor('elements', 'error-foreground');
  background-color: setcolor('elements', 'error');
  border-radius: $border-radius-secondary;
  padding: 2px 8px 2px 8px;
  font-weight: 600;
}
