.title {
  color: setcolor('normal', 'logo') !important;
  white-space: nowrap;
}

.theme-switch {
  margin-left: 10px;
}

#info {
  @include logo-text-start;
}

#dump {
  @include logo-text-end;
}

#beta {
  overflow: auto;
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  top: -15px;
  color: white;
  background: setcolor('normal', 'logo');
  font-weight: 400;
  border-radius: 4px;
  font-size: 12px;
  padding: 3px 5px 3px 7px;
  margin-left: 4px;
  letter-spacing: 2px;

  &:hover {
    background: lighten(setcolor('normal', 'logo'), 10%);
  }
}
