.panel {
  @include shadowlow;

  background-clip: border-box;
  background-color: setcolor('normal', 'light-background');

  border-radius: $border-radius;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  // min-width: 0;
  // min-width: 360px !important;
  width: 400px;
  height: 250px;

  perspective: 40px;
  // position: relative;
  word-wrap: break-word;
  z-index: 100;

  transition: color 0.2s;

  &-header {
    color: setcolor('normal', 'logo') !important;
    padding: 0.75rem 1.25rem;
    background-color: setcolor('normal', 'white') !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    &-badge {
      background-color: setcolor('elements', 'warning') !important;
    }

    &:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }
  }

  &-footer {
    padding: 0.75rem 1.25rem;
    background-color: setcolor('normal', 'light-background') !important;
    border-top: 1px solid rgba(0, 0, 0, 0.125);

    &:last-child {
      border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }
  }

  &-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
}

.panel-clicked {
  position: static;
  width: 100%;
  height: auto;
  max-width: 1000px !important;
  z-index: 99;
  margin: auto;
  margin-bottom: 40px;
}

.panel-waiting {
  &:active {
    @include pressedDown;
  }
  margin: 1.5rem;

  // &:hover {
  //   @include hovering;
  // }
}

.panel-dragging {
  @keyframes wiggle {
    0% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(3deg);
    }
  }
  animation: wiggle 0.3s 2 !important;
}

@media only screen and (max-width: 1296px) {
  .panel-clicked {
    width: 90vw !important;
  }
}

@media only screen and (max-width: 848px) {
  .panel {
    width: 90vw;
  }

  .panel-clicked {
    width: 90vw !important;
  }
}

@media only screen and (max-width: 425px) {
  .panel-clicked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 99;
    margin: auto;
    overflow: auto;

    & .panel-header {
      position: sticky;
      top: 0;
      @include shadowverylow;
    }
  }
}

main {
  margin-bottom: 60px;
}
