// Remove button outline box
button {
  outline: none !important;
}

.nohighlight {
  user-select: none;
  -moz-user-select: none;
}

.canselect {
  cursor: pointer;
}

.isVisible {
  opacity: 1;
  visibility: visible;
}

.isInvisible {
  opacity: 0;
  visibility: hidden;
}

.transparent {
  background-color: transparent;
}
