@mixin flex-container-center($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin shadowverylow {
  box-shadow: map-get($shadows, 'verylow');
  box-shadow: map-get($shadows, 'verylowspread');
}

@mixin shadowlow {
  box-shadow: map-get($shadows, 'low');
  box-shadow: map-get($shadows, 'lowspread');
}

@mixin shadowmedium {
  box-shadow: map-get($shadows, 'medium');
  box-shadow: map-get($shadows, 'mediumspread');
}

@mixin shadowhigh {
  box-shadow: map-get($shadows, 'high');
  box-shadow: map-get($shadows, 'highspread');
}

@mixin pressedDown {
  @include shadowlow;
  transform: scale(0.98, 0.98) translateY(+5px);
  transition: box-shadow 0.2s, transform 0.1s;
}
