button {
  @include shadowhigh;
  @include pressedDown;

  background: setcolor('normal', 'logo');

  border: none;
  border-radius: $border-radius-secondary;
  padding: 10px 30px 10px 30px;

  color: setcolor('normal', 'light');
  font-weight: 600;
}
