$shadows: (
  'verylow': 0 1px 2px 0 hsla(0, 0%, 0.2, 0.1),
  'low': 0 2px 4px 0 hsla(0, 0%, 0.2, 0.1),
  'medium': 0 3px 6px 0 hsla(0, 0%, 0.2, 0.175),
  'high': 0 5px 10px 0 hsla(0, 0%, 0.2, 0.2),
  'veryhigh': 0 10px 14px 0 hsla(0, 0%, 0.2, 0.2),
  'verylowspread': 0 2px 3px 0 hsla(0, 0%, 0.2, 0.1),
  'lowspread': 0 5px 6px 0 hsla(0, 0%, 0.2, 0.1),
  'mediumspread': 0 6px 8px 0 hsla(0, 0%, 0.178, 0.18),
  'highspread': 0 10px 20px 0 hsla(0, 0%, 0.2, 0.2),
  'veryhighspread': 0 14px 25px 0 hsla(0, 0%, 0.2, 0.08),
);

$border-radius: 0.7rem;
$border-radius-secondary: 0.4rem;
