@mixin flex-container-center($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin shadowverylow {
  box-shadow: map-get($shadows, 'verylow');
  box-shadow: map-get($shadows, 'verylowspread');
}

@mixin shadowlow {
  box-shadow: map-get($shadows, 'low');
  box-shadow: map-get($shadows, 'veryhighspread');
}

@mixin shadowmedium {
  box-shadow: map-get($shadows, 'medium');
  box-shadow: map-get($shadows, 'mediumspread');
}

@mixin shadowhigh {
  box-shadow: map-get($shadows, 'high');
  box-shadow: map-get($shadows, 'highspread');
}

@mixin pressedDown {
  @include shadowverylow;
  transform: scale(0.98, 0.98) translateY(+5px);
  transition: box-shadow 0.2s, transform 0.1s;
}

@mixin hovering {
  transform: scale(1.01, 1.01) translateY(-2px);
  transition: box-shadow 0.5s, transform 0.4s;
}

@mixin dragging {
  box-shadow: map-get($shadows, 'medium');
  box-shadow: map-get($shadows, 'veryhighspread');
}

@mixin for-phone-only {
  @media only screen and (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media only screen and (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media only screen and (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}
