.tiny-text {
  font-size: 14px;
  justify-content: baseline !important;
}

.normal-text {
  font-weight: 500;
  color: setcolor('normal', 'dark');
}

.bold-text {
  font-weight: 600;
  color: setcolor('normal', 'dark');
}

.bolder-text {
  font-weight: 700;
  color: setcolor('normal', 'dark');
}

@mixin logo-text {
  font-size: 4rem;
  white-space: nowrap;
}

@mixin logo-text-start {
  color: setcolor('normal', 'logo');
  font-weight: 400;
}

@mixin logo-text-end {
  color: lighten(setcolor('normal', 'logo'), 5%);
  font-weight: 300;
}

@mixin primary-text {
  color: setcolor('normal', 'logo');
  font-weight: 500;
}

@mixin secondary-text {
  color: lighten(setcolor('normal', 'logo'), 5%);
  font-weight: 400;
}
