.tiny-text {
  font-size: 14px;
  justify-content: baseline !important;
}

.normal-text {
  font-weight: 500;
  color: setcolor('normal', 'dark');
}

.bold-text {
  font-weight: 600;
  color: setcolor('normal', 'dark');
}

.bolder-text {
  font-weight: 700;
  color: setcolor('normal', 'dark');
}

.logo-text {
  font-size: 3rem;
  white-space: nowrap;
}
