* {
  background-color: transparent;

  &::selection {
    background: red;
    color: setcolor('normal', 'light');
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: setcolor('normal', 'background');
}

html {
  /* background-image: linear-gradient(-225deg, #007bff, #0077ff); */
  height: 100%;
  overflow: auto;
}

body {
  background: transparent;
  height: 100%;
}

path {
  fill: #52a6ff;

  :hover {
    fill: red;
  }
}

a {
  color: white;
}
