* {
  background-color: transparent;

  &::selection {
    background: setcolor('normal', 'warning');
    color: setcolor('normal', 'light');
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: setcolor('normal', 'background');
}

html {
  /* background-image: linear-gradient(-225deg, #007bff, #0077ff); */
  height: 100%;
  overflow: auto;
}

body {
  background: transparent;
  height: 100%;
}

path {
  fill: #52a6ff;

  :hover {
    fill: red;
  }
}

a {
  color: white;
}

// Animated background colors
// body {
//   width: 100wh;
//   height: 100vh;
//   color: #fff;
//   background: linear-gradient(-45deg, #bcebf6, #b7d1f3, #ccc3f3, #efc9f3);
//   background-size: 400% 400%;
//   -webkit-animation: Gradient 15s ease infinite;
//   -moz-animation: Gradient 15s ease infinite;
//   animation: Gradient 15s ease infinite;
// }

// @-webkit-keyframes Gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

// @-moz-keyframes Gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

// @keyframes Gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }
