.footer {
  @include flex-container-center(column);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.signature {
  color: setcolor('normal', 'primary');
}

.logo {
  color: setcolor('normal', 'primary');
  opacity: 0.75;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.emoji {
  margin-left: 5px;
}
