.item {
  color: #343434;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  // padding: 0.75rem 1.25rem;

  &-entry {
    height: 100%;
    max-width: 400px;
    word-wrap: break-word;

    &-name {
      color: setcolor('normal', 'primary');
    }
  }

  &-container {
    display: flex;
    align-items: stretch;

    padding: 0.75rem 1.25rem;
    width: 50%;
    height: auto;

    & .item-value {
      text-align: right;
    }

    .panel-clicked & {
      &:active {
        background: setcolor('normal', 'success');

        & > .item-entry {
          &:not(.inactive):not(.no-support) {
            color: setcolor('normal', 'success-foreground');
          }
          transition: color 0.2s;
        }
        transition: background 0.2s;
      }
    }
  }

  & .disabled {
    color: gray;
  }

  .panel-clicked &:hover {
    background: setcolor('normal', 'dark-background');
  }

  &:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  transition: background 0.4s;
}
