.item-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.item {
  color: #343434;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.75rem 1.25rem;

  &-entry {
    max-width: 400px;
    word-wrap: break-word;

    transition: background 0.2s;

    &:active {
      color: setcolor('normal', 'success-foreground');
      background: setcolor('normal', 'success');
    }

    &-name {
      color: setcolor('normal', 'primary');
    }
  }

  & .disabled {
    color: gray;
  }

  &:hover {
    background: setcolor('normal', 'dark-background');
  }

  &:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  transition: background 0.4s;
}
