$notification-width: 200px;
$notification-height: 40px;

.notification {
  position: fixed;
  top: -40px;

  height: $notification-height;
  width: $notification-width;

  left: 50%;
  margin-top: (-$notification-height / 2);
  margin-left: (-$notification-width / 2);

  padding: 1px;
  z-index: 101;
  overflow: hidden;

  font-weight: bold;
  text-align: center;
  text-align: center;
  vertical-align: middle;
  line-height: $notification-height;

  background: #88fabd;
  color: #1b663e;
  opacity: 0.75;

  // box-shadow: map-get($shadows, 'low');
  // border-radius: $border-radius;

  animation: slideDown 2s;

  @keyframes slideDown {
    0%,
    100% {
      transform: translateY(-80px);
    }
    10%,
    90% {
      transform: translateY(80px);
    }
  }
}
