.panel {
  @include shadowmedium;

  background-clip: border-box;
  background-color: setcolor('normal', 'light-background');

  border-radius: $border-radius;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  min-width: 0;
  min-width: 360px !important;
  perspective: 40px;
  position: relative;
  word-wrap: break-word;
  z-index: 5;

  transition: color 0.2s;

  &-header {
    color: setcolor('normal', 'primary') !important;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: setcolor('normal', 'white') !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    &-badge {
      background-color: setcolor('elements', 'warning') !important;
    }

    &:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }
  }

  &-footer {
    padding: 0.75rem 1.25rem;
    // background-color: rgba(0, 0, 0, 0.03);
    background-color: setcolor('normal', 'light-background') !important;
    border-top: 1px solid rgba(0, 0, 0, 0.125);

    &:last-child {
      border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }
  }

  &-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
}

.panel-clicked {
  position: absolute;
  transition: width 1s;
  max-width: 1000px !important;
  z-index: 99;
}

.panel-waiting {
  &:active {
    @include pressedDown;
  }
}

@media only screen and (max-width: 862px) {
  .panel {
    min-width: 90% !important;
  }

@media only screen and (max-width: 1296px) {
  .panel-clicked {
    width: 90vw !important;
  }
}

@media only screen and (max-width: 848px) {
  .panel {
    width: 90vw;
  }

  .panel-clicked {
    width: 90vw !important;
  }
}

@media only screen and (max-width: 425px) {
  .panel-clicked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 99;
    margin: auto;
    overflow: auto;

    & .panel-header {
      position: sticky;
      top: 0;
      @include shadowverylow;
    }
  }
}
// @media only screen and (max-width: 600px) {
//   .panel {
//     // min-width: 90% !important;
//     width: 90vw;
//   }

//   .panel-clicked {
//     width: 100vw;
//   }
// }

main {
  margin-bottom: 80px;
}
