.panel {
  @include shadowmedium;

  background-clip: border-box;
  background-color: setcolor('normal', 'light-background');

  border-radius: $border-radius;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  min-width: 0;
  min-width: 360px !important;
  perspective: 40px;
  position: relative;
  word-wrap: break-word;
  z-index: 5;

  transition: color 0.2s;

  &-header {
    color: setcolor('normal', 'primary') !important;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: setcolor('normal', 'white') !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    &-badge {
      background-color: setcolor('elements', 'warning') !important;
    }

    &:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }
  }

  &-footer {
    padding: 0.75rem 1.25rem;
    // background-color: rgba(0, 0, 0, 0.03);
    background-color: setcolor('normal', 'light-background') !important;
    border-top: 1px solid rgba(0, 0, 0, 0.125);

    &:last-child {
      border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }
  }

  &-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
}

.panel-clicked {
  position: absolute;
  transition: width 1s;
  max-width: 1000px !important;
  z-index: 99;
}

.panel-leftover {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.panel-waiting {
  &:active {
    @include pressedDown;
  }
}

@media only screen and (max-width: 862px) {
  .panel {
    min-width: 90% !important;
  }

  .panel-clicked {
    max-width: 75% !important;
  }
}

@media only screen and (max-width: 600px) {
  .panel {
    min-width: 90% !important;
  }

  .panel-clicked {
    max-width: 75% !important;
  }
}
